@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');

body {
    color: #fff;
    font-family: 'Exo', sans-serif;
}

.badge {
    vertical-align: middle;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #fff;
}

.badge-danger:hover {
    background-color: #fff;
    color: #000;
}

.header-container {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.top-bar, .bot-bar {
    background-color: #000;
    height: 42px;
}

.top-bar {
    position: fixed;
}

.bot-bar {
    max-width: 1200px;
    margin: 0 auto;
}

.hero-image {
    padding-top: 39px;
    margin: 0 auto;
    max-width: 1200px;
    border: 1px solid #000;
}

.social-icon-lbl {
    font-size: 1rem;
    color: #fff;
    vertical-align: middle;
    padding: 0;
}

.social-icon {
    color: #fff;
    list-style: none;
    font-size: 2em;
}

.social-icon:hover {
    color: #dc3545;
}

.social-links {
    float: right;
}

.collaborate-button {
    float: left;
}
.collaborate-text {
    font-size: 0.8rem;
    float: left;
    padding: 12px 0 0 10px;
}

ul {
    padding-top: 0.5vh;
}