@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700&display=swap');

nav a {
    color: rgb(0, 0, 0);
}

a {
    color: rgb(200, 41, 41);
}

a:hover {
    text-decoration: none;
    color: rgb(0, 119, 255);
}

body {
    color: #fff;
    font-family: 'Exo', sans-serif;
    color: #000;
    text-align: center;
}

.page-content-container {
    border: 1px solid #000;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0px;
}

.row {
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

textarea {
    resize: none;
  }

.header-container {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

ul {
    padding-top: 0.5vh;
}

.top-bar {
    position: fixed;
    background-color: #000;
    height: 40px;
    z-index: 1;
}

.badge {
    vertical-align: middle;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #fff;
    background-color: rgb(200, 41, 41);
}

.badge-danger:hover {
    color: rgb(200, 41, 41) !important;
    background-color: rgb(255, 255, 255) !important;
    border: 1px solid rgb(200, 41, 41) !important;
}

.social-icon {
    color: #fff;
    list-style: none;
    font-size: 1.8em;
}

.social-icon:hover {
    color: rgb(139, 139, 139);
}

.social-links {
    float: right;
    padding: 2px 0 0 0;
}

.contact-me-button {
    float: left;
}

.contact-me-text {
    font-size: 0.8rem;
    float: left;
    padding: 12px 0 0 10px;
    color: #fff;
}

.active {
    color: rgb(200, 41, 41);
}

.active_n {
    color: rgb(200, 41, 41);
}

.active_n:hover {
    color: rgb(200, 41, 41);
}

.dropdown:hover .dropdown-menu {
    display: inline;
}

.dropdown-menu {
    font-size: 1em;
    border: 1px solid #000;
    padding: 10px;
}

.n-bar {
    position: fixed;
    top: 40px;
    left: 0px;
    height: 40px;
    width: 100%;
    padding: 10px 0 0 18px;
    border: 1px solid #000;
    background-color: rgb(255, 255, 255);
    color: #000;
    text-align: right;
    text-indent: 0px;
    font-size: 0.8rem;
    font-weight: bold;
    z-index: 1;
}

.btn-danger {
    background-color: #fff;
    color: rgb(200, 41, 41);
}

.hero-image {
    padding-top: 79px;
    margin: 0 auto;
    max-width: 1200px;
    border: 1px solid #000;
}

.bot-bar {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #000;
    height: 80px;
}

.about-me {
    color: #000;
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);

}

.about-me-text {
    padding-top: 40px;
    margin-top: 15px;
    text-align: center;
}

.about-me-row {
    padding: 0 20px 0px 20px;
}

.about-me-mobile-image {
    max-width: 75%;
    padding-top: 100px;
}

.about-me-tablet-image {
    max-width: 50%;
    padding-top: 100px;
}

.about-me-laptop-image {
    max-width: 75%;
    padding-top: 20px;
}

.about-me-image {
    max-width: 85%;
    padding-top: 20px;
}

.my-skills {
    color: rgb(0, 0, 0);
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    padding: 0px 0px 0px 0px;
}

.my-skills-header-row {
    text-align: left;
    text-indent: 0px;
    padding: 80px 20px 0 0;
}

.my-skills-row {
    text-align: left;
    font-size: 1.25rem;
}

.my-skills-text-header {
    text-align: left;
    text-indent: 20px;
    padding: 10px 0 0px 0px;
}

.my-skills-text-body {
    text-align: left;
}

.my-skills-content {
    text-align: center;
}

.my-skills-sm {
    max-width: 75%;
    margin: 0 auto;
}

.ms-pb-padding {
    padding-top: 20px;
}

.mobile-btn-collapse {
    text-align: center;
}

.collapse {
    text-align: left !important;
}

.ms-icons {
    color: #000;
}

.progress {
    height: 25px;
}

.progress-bar {
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.progress-bar-red {
    background-color: rgb(255, 0, 0);
}

.progress-bar-blue {
    background-color: #0095ff;
}

.progress-bar-purple {
    background-color: #bb00ff;
}

.progress-bar-yellow {
    background-color: rgb(255, 221, 0);
}

.progress-bar-lightblue {
    background-color: #00d5ff;
}

.progress-bar-darkblue {
    background-color: #0080ff;
}

.progress-bar-orange {
    background-color: rgb(255, 149, 0);
}

.progress-bar-green {
    background-color: #00ea00;
}

.personal-info {
    max-width: 1200px;
    margin: 0 auto;
}

.personal-info-header {
    padding: 90px 0 25px 20px;
    text-align: left;
}

.personal-info-table {
    padding: 0 25px 25px 25px;
    text-align: left;
}

#personal-info {
    padding-top: 15px;
}

.work-history {
    max-width: 1200px;
    margin: 0 auto;
}

.work-history-header {
    padding: 105px 0 25px 0;
    text-align: left;
    text-indent: 0px;
}

.mycard {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 0 0 20px 0;
    margin: 0 0 50px 0;;
}

.mycard-header {
    background-color: rgb(200, 200, 200);
    border-radius: 10px 10px 0 0;
    
}

.btn-work-history {
    background-color: rgb(200, 41, 41);
    font-weight: bold;
    color: #fff;
    border: 1px solid #fff;
}

.btn-work-history:hover {
    background-color: #fff;
    font-weight: bold;
    border: 1px solid rgb(200, 41, 41);
    color: rgb(200, 41, 41);
}

.wh-collapse-button {
    text-align: center !important;
    margin: 0 auto;
}

.company-name {
    font-size: 1.2rem;
    font-weight: bold;
}

.footer-main-bar {
    background-color: #000;
    height: 150px;
    z-index: 1;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    font-size: 0.8rem;
    padding-top: 20px;
}

.footer-link {
    color: rgb(255, 255, 255);
}

.footer-link:hover {
    color: rgb(139, 139, 139);
    text-decoration: none;
} 

.footer-copyright {
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
}

.portfolio-header {
    text-align: left;
    text-indent: 5px;
    padding-top: 100px;
}

.mfmp-image {
    border: 1px solid #000;
}

.pf-hero-text {
    text-align: center;
    font-size: 0.75rem;
}

.pf-msp1-header {
    text-align: left;
    padding: 5px 0 100px 0;
}

.blog-header {
    text-align: left;
    text-indent: 5px;
    padding-top: 100px;
}

.blog-content {
    text-indent: 0px;
}

.youtube-video {
    border: 1px solid #000;
    margin: 0 auto;
}  

.btn-form {
background-color: rgb(200, 41, 41);
font-weight: bold;
color: #fff;
border: 1px solid #fff;
margin: 25px 0 150px 0;
}

.btn-form:hover {
    background-color: #fff;
    font-weight: bold;
    border: 1px solid rgb(200, 41, 41);
    color: rgb(200, 41, 41);
}

.form-container {
    text-align: left;
    margin: 0 auto;
    max-width: 1200px;
    border: 1px solid #000;
}

.form-content {
    padding: 0 40px 0 40px;
}

.form-form {
    padding: 0 40px 0 40px;
}

.form-header {
    padding: 52px 40px 0 40px;
    max-width: 1200px;
    margin: 0 auto;
    text-indent: 5px;
}

.form-image-padding {
    padding-top: 150px;
    max-width: 100%;
}

.form-image-padding-sm {
    max-width: 75%;
    padding: 20px 0 40px 0;
}

.form-image-align {
    text-align: center;
}

#full-name {
    width: 100%;
    font-size: 0.8rem;
}

#email-address {
    width: 100%;
    font-size: 0.8rem;
}

#phone-number {
    width: 100%;
    font-size: 0.8rem;
}

#message-text {
    width: 100%;
    font-size: 0.8rem;
}

.needs-validation {
    text-align: left !important;
    text-indent: 7px;
}

.form-success-header {
    padding: 100px 0 0 0;
    margin: 0 0 0 0;
    text-align: left;
}

.form-success-content {
    padding-bottom: 700px !important;
    text-align: left;
}