/* Fonts (Exo, Sans Serif) */

@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700&display=swap');

/* General */

a:hover {
    text-decoration: none;
}

.ci-link:hover {
    text-decoration: none;
    color: #dc3545;
}

body {
    color: #fff;
    font-family: 'Exo', sans-serif;
    color: #000;
    text-align: center;
}

.page-content-container {
    border: 1px solid #000;
    margin: 0 auto;
    max-width: 1200px;
}

.row {
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

.header-container {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

ul {
    padding-top: 0.5vh;
}

/* Top Bar */

.top-bar {
    position: fixed;
    background-color: #000;
    height: 40px;
    z-index: 1;
}

.badge {
    vertical-align: middle;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #fff;
    background-color: #dc3545;
}

.social-icon {
    color: #fff;
    list-style: none;
    font-size: 1.8em;
}

.social-icon:hover {
    color: #dc3545;
}

.social-links {
    float: right;
    padding: 2px 0 0 0;
}

.collaborate-button {
    float: left;
}
.collaborate-text {
    font-size: 0.8rem;
    float: left;
    padding: 12px 0 0 10px;
    color: #fff;
}

/* Navbar */

.active {
    color: #dc3545;
}

.dropdown:hover .dropdown-menu {
    display: inline;
}

.dropdown-menu {
    font-size: 1em;
    border: 1px solid #000;
    padding: 10px;
}

.n-bar {
    position: fixed;
    top: 40px;
    left: 0px;
    height: 40px;
    width: 100%;
    padding: 10px 0 0 18px;
    border: 1px solid #000;
    background-color: rgb(255, 255, 255);
    color: #000;
    text-align: left;
    text-indent: 0px;
    font-size: 0.8rem;
    font-weight: bold;
    z-index: 1;
}

.n-bar a:hover {
    text-decoration: none;
    color: #dc3545;
}

.btn-danger {
    background-color: #fff;
    color: #dc3545;
}

/* Hero Image */

.hero-image {
    padding-top: 79px;
    margin: 0 auto;
    max-width: 1200px;
    border: 1px solid #000;
}

/* Bottom Bar */

.bot-bar {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #000;
    height: 80px;
}

/* About Me */

.about-me {
    color: #000;
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);

}

.about-me-text {
    padding-top: 40px;
    margin-top: 15px;
    text-align: center;
}

.about-me-row {
    padding: 0 20px 0px 20px;
}

.about-me-mobile-image {
    max-width: 75%;
    padding-top: 100px;
}

.about-me-tablet-image {
    max-width: 50%;
    padding-top: 100px;
}

.about-me-laptop-image {
    max-width: 75%;
    padding-top: 20px;
}

.about-me-image {
    max-width: 85%;
    padding-top: 20px;
}

/* My Skills */

.my-skills {
    color: rgb(0, 0, 0);
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    padding: 0px 0px 0px 0px;
}

.my-skills-header-row {
    text-align: left;
    text-indent: 10px;
    padding: 100px 20px 0 0;
}

.my-skills-row {
    text-align: left;
    font-size: 1.25rem;
}

.my-skills-text-header {
    text-align: left;
    text-indent: 20px;
    padding: 10px 0 0px 0px;
}

.my-skills-text-body {
    text-align: left;
}

.my-skills-content {
    text-align: center;
}

.my-skills-sm {
    max-width: 75%;
    margin: 0 auto;
}

.ms-pb-padding {
    padding-top: 20px;
}

/* My Skills - Font Awseome Icons */

.ms-icons {
    color: #000;
}

/* My Skills - Progress Bars */

.progress {
    height: 25px;
}

.progress-bar-red {
    background-color: #f02121;
}

.progress-bar-blue {
    background-color: #0095ff;
}

.progress-bar-purple {
    background-color: #bb00ff;
}

.progress-bar-yellow {
    background-color: #ffea00;
}

.progress-bar-lightblue {
    background-color: #00d5ff;
}

.progress-bar-darkblue {
    background-color: #000d9d;
}

.progress-bar-orange {
    background-color: #ffb300;
}

.progress-bar-green {
    background-color: #00e500;
}

/* Personal Info */

.personal-info {
    max-width: 1200px;
    margin: 0 auto;
}

.personal-info-header {
    padding: 112px 0 25px 0;
    text-align: left;
    text-indent: 20px;
}

.personal-info-table {
    padding: 0 25px 25px 25px;
    text-align: left;
}

/* Work History */

.work-history {
    max-width: 1200px;
    margin: 0 auto;
}

.work-history-header {
    padding: 110px 0 25px 0;
    text-align: left;
    text-indent: 5px;
}

.work-history-row {
    padding: 0px 0 100px 0;
}

.mycard {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 0 0 20px 0;
    margin: 0 0 50px 0;;
}

.mycard-header {
    background-color: rgb(200, 200, 200);
    border-radius: 10px 10px 0 0;
    
}

.btn-work-history {
    background-color: #dc3545;
    font-weight: bold;
    color: #fff;
}

/* Footer */

.footer-main-bar {
    background-color: #000;
    height: 150px;
    z-index: 1;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 5px;

}

.collaborate-text {
    text-align: center;
}

/* Portfolio */

.portfolio {
    max-width: 1200px;
    margin: 0 auto;
}

.portfolio-container {
    padding: 50px 0 0 0;
    text-align: left;
}

.portfolio-header {
    text-indent: 50px;
    padding: 70px 0 0 20px;
}

.mfmp-image {
    border: 1px solid #000;
}

.pf-hero-text {
    text-align: center;
    font-size: 0.75rem;
}

.pf-content {
    text-align: left;

}

.pf-msp1-header {
    text-align: left;
    padding: 5px 0 10px 0;
}

.pf-footer {
    margin: 0 auto;
    max-width: 1200px;
}

/* music */

.sos-video {
    max-width: 1200px;
    border: 1px solid #000;
    margin: 0 auto !important;
}  

/* Blog */

.blog-header {
    text-align: left;
    text-indent: 5px;
    padding-top: 70px;
}

.blog-post1-header1 {
    padding: 50px 0 10px 0;
    text-align: left;
}

.blog-post1-header2 {
    padding: 0 0 10px 0;
    text-align: left;
}

.blog-container {

    margin: 0 auto;
    max-width: 1200px;
}

.blog-content {
    text-align: left;

}

/* form */

.btn-form {
    background-color: #dc3545;
    font-weight: bold;
    color: #fff;
}

.form {
    text-align: left;
}

.form-form {
    max-width: 1200px;
    margin: 0 auto;
}

.form-header {
    padding: 70px 0 0 0;
    max-width: 1200px;
    margin: 0 auto;
    text-indent: 5px;
}

.form-footer-image {
    vertical-align: bottom;
    border: 0;
}

.small-text {
    font-size: 0.75rem;
    font-weight: bold;
    text-align: center;
}

#fullname {
    width: 100%;
    font-size: 0.8rem;
}

#email-address {
    width: 100%;
    font-size: 0.8rem;
}

#phone-number {
    width: 100%;
    font-size: 0.8rem;
}

#message-text {
    width: 100%;
    font-size: 0.8rem;
}

/* form success */

.form-success-header {
    padding: 70px 0 0 0;
    margin: 0 0 600px 0;
}