/* Fonts (Exo, Sans Serif) */

@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700&display=swap');

/* General */

body {
    color: #fff;
    font-family: 'Exo', sans-serif;
}

.row {
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

.header-container {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

ul {
    padding-top: 0.5vh;
}

/* Top Bar */

.top-bar {
    position: fixed;
    background-color: #000;
    height: 40px;
    z-index: 1;
}

.badge {
    vertical-align: middle;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #fff;
    background-color: #dc3545;
}

.social-icon {
    color: #fff;
    list-style: none;
    font-size: 1.8em;
}

.social-icon:hover {
    color: #dc3545;
}

.social-links {
    float: right;
    padding: 2px 0 0 0;
}

.collaborate-button {
    float: left;
}
.collaborate-text {
    font-size: 0.8rem;
    float: left;
    padding: 12px 0 0 10px;
}

/* Navbar */

.dropdown:hover .dropdown-menu {
    display: inline;
}

.dropdown-menu {
    font-size: 1em;
    border: 1px solid #000;
    padding: 10px;
}

.n-bar {
    position: fixed;
    top: 40px;
    left: 0px;
    height: 40px;
    width: 100%;
    padding: 10px 0 0 18px;
    border: 1px solid #000;
    background-color: rgb(255, 255, 255);
    color: #000;
    text-align: left;
    text-indent: 0px;
    font-size: 0.8rem;
    font-weight: bold;
    z-index: 1;
}

.n-bar a:hover {
    text-decoration: none;
    color: #000000;
}

.active {
    font-weight: bold;
    color: #dc3545;
}

.btn-danger {
    background-color: #fff;
    color: #dc3545;
}

/* Hero Image */

.hero-image {
    padding-top: 79px;
    margin: 0 auto;
    max-width: 1200px;
    border: 1px solid #000;
}

/* Bottom Bar */

.bot-bar {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #000;
    height: 40px;
}

/* About Me */

.about-me {
    color: #000;
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}

.about-me-text {
    padding-top: 40px;
}

.about-me-row {
    border: 1px solid #000;
    padding: 0 20px 50px 20px;
}

.about-me-mobile-image {
    max-width: 75%;
    padding-top: 100px;
}

.about-me-tablet-image {
    max-width: 50%;
    padding-top: 100px;
}

.about-me-laptop-image {
    max-width: 75%;
    padding-top: 20px;
}

.about-me-image {
    max-width: 85%;
    padding-top: 20px;
}